@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

//=============FONTS=============//
$mainFont: "Poppins", sans-serif;
$subFont: "Source Sans Pro", sans-serif;
//=============COLORS=============//
$primaryPeach: #ffece8;
$primaryBlack: #000000;
$primaryPink: #f38595;
$primaryWhite: #ffffff;
$secondaryBlue: #455898;
$secondaryGreen: #56a38c;
$secondaryPink: #ff4b6d;

//=============STYLES=============//

.balance-box {
  margin-top: 10vh;
  width: 20vw;
  height: 25vh;
  border: 5px solid $secondaryGreen;
  border-radius: 25px;
}
h1 {
  font: 200% $mainFont;
  color: $primaryBlack;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
.current-balance {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;

  h2 {
    font: 350% $subFont;
    color: $primaryBlack;
  }
}

.balance-icons {
  display: flex;
  flex-direction: column;
  font-size: 250%;
  .arrow-up {
    color: $secondaryGreen;
  }
  .arrow-down {
    color: red;
  }
}
