@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

//=============FONTS=============//
$mainFont: "Poppins", sans-serif;
$subFont: "Source Sans Pro", sans-serif;
//=============COLORS=============//
$primaryPeach: #ffece8;
$primaryBlack: #000000;
$primaryPink: #f38595;
$primaryWhite: #ffffff;
$secondaryBlue: #455898;
$secondaryGreen: #56a38c;
$secondaryPink: #ff4b6d;

//=============STYLES=============//

.chart-box {
  margin-top: 10vh;
  width: 20vw;
  height: 20vh;
  margin-left: 3%;
  border: 5px solid $secondaryGreen;
  border-radius: 25px;
}
