@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

//=============FONTS=============//
$mainFont: "Poppins", sans-serif;
$subFont: "Source Sans Pro", sans-serif;
//=============COLORS=============//
$primaryBackground: #1d1b1b;
$secondaryBackground: #ec4d37;
$primaryTextColor: #ffdd03;
$secondaryTextColor: #ffffff;

//=============STYLES=============//

.expenses-filter {
  margin-top: 5%;
  margin-bottom: 10%;
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.expenses-filter__control {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.yearFilter {
  text-align-last: center;
  width: 7vw;
  height: 4vh;
  border-radius: 24px;
  border: 3px solid $primaryTextColor;
  font: 95% $mainFont;
  color: $primaryBackground;
  background-color: $secondaryTextColor;
}

.sort {
  text-align-last: center;
  width: 4vw;
  height: 4vh;
  border-radius: 24px;
  border: 3px solid $primaryTextColor;
  font: 95% $mainFont;
  color: $primaryBackground;
  background-color: #ffece8;
}
