@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

//=============FONTS=============//
$mainFont: "Poppins", sans-serif;
$subFont: "Source Sans Pro", sans-serif;
//=============COLORS=============//
$primaryBackground: #1d1b1b;
$secondaryBackground: #ec4d37;
$primaryTextColor: #ffdd03;
$secondaryTextColor: #ffffff;

//=============STYLES=============//

.no-item {
  font: 500% $mainFont;
  color: $primaryBackground;
  text-align: center;
}
