@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

//=============FONTS=============//
$mainFont: "Poppins", sans-serif;
$subFont: "Source Sans Pro", sans-serif;
//=============COLORS=============//
$primaryBackground: #1d1b1b;
$secondaryBackground: #ec4d37;
$primaryTextColor: #ffdd03;
$secondaryTextColor: #ffffff;

//=============STYLES=============//

.expenses-box {
  margin-top: 10vh;
  width: 25vw;
  height: 65vh;
  margin-left: 3%;
  border: 5px solid $secondaryTextColor;
  border-radius: 25px;
  overflow-y: scroll;
}

.expenses-box::-webkit-scrollbar {
  scrollbar-width: none;
}

.expenses-box::-webkit-scrollbar-track {
  background-color: $secondaryTextColor;
}

.expenses-box::-webkit-scrollbar {
  width: 6px;
  background-color: $secondaryBackground;
}

.expenses-box::-webkit-scrollbar-thumb {
  background-color: $secondaryTextColor;
}
