@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

//=============FONTS=============//
$mainFont: "Poppins", sans-serif;
$subFont: "Source Sans Pro", sans-serif;
//=============COLORS=============//
$primaryPeach: #ffece8;
$primaryBlack: #000000;
$primaryPink: #f38595;
$primaryWhite: #ffffff;
$secondaryBlue: #455898;
$secondaryGreen: #56a38c;
$secondaryPink: #ff4b6d;

//=============STYLES=============//

.header {
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
  margin-right: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    margin-left: 5%;
    font: 250% $mainFont;
    color: $primaryBlack;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  img {
    width: 10%;
    margin-right: 3%;
    height: auto;
    cursor: pointer;
  }
}
.miba {
  font: 100% $mainFont;
}
.links {
  margin-right: 5%;
  font: 150% $subFont;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}
