@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

//=============FONTS=============//
$mainFont: "Poppins", sans-serif;
$subFont: "Source Sans Pro", sans-serif;
//=============COLORS=============//
$primaryPeach: #ffece8;
$primaryBlack: #000000;
$primaryPink: #f38595;
$primaryWhite: #ffffff;
$secondaryBlue: #455898;
$secondaryGreen: #56a38c;
$secondaryPink: #ff4b6d;

//=============STYLES=============//

.expenses-filter {
  font: 100% $secondaryBlue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter {
  font: 100% $secondaryBlue;
  color: $mainFont;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
}

.sort {
  color: $mainFont;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
}
