@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

//=============FONTS=============//
$mainFont: "Poppins", sans-serif;
$subFont: "Source Sans Pro", sans-serif;
//=============COLORS=============//
$primaryBackground: #1d1b1b;
$secondaryBackground: #ec4d37;
$primaryTextColor: #ffdd03;
$secondaryTextColor: #ffffff;

//=============STYLES=============//

.main-budget-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font: 150% $mainFont;
  color: $primaryBackground;
}
button {
  width: 5vw;
  height: 3vh;
  color: $primaryTextColor;
  background-color: $secondaryBackground;
  border-radius: 50px;
  border: 1px solid $secondaryBackground;
  font: 70% $mainFont;
  cursor: pointer;

  transition-duration: 0.4s;
}

button:hover {
  background-color: $primaryTextColor;
  color: $primaryBackground;
}
